@model SoftwareHouseWeb.ViewModel.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="crums">
    <a href="">@User.Identity.Name's Account</a>
    >>
    <p>Change Password</p>
</div>
<div class="chead">
    <h1>
        Change Password
    </h1>
    <p>
        From below, you can change the password of your account area anytime. Being highly concerned about the security of your privacy, we give you the option to change your password anytime and as many times as you like
    </p>
</div>
<div class="form-section">
    <form class="ui form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="xa">
            <h3>CHANGE PASSWORD</h3>
        </div>
        <div class="old">
            <h2>Enter old password : <span style="color: red;font-size: 24px;">*</span>	</h2>
        </div>
        <div class="old-field">
            <div class="field">
                <input asp-for="CurrentPassword" name="" placeholder="Enter Old Password">
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="new">
            <h2>Enter new password : <span style="color: red;font-size: 24px;">*</span></h2>
        </div>
        <div class="new-field">
            <div class="field">
                <input asp-for="NewPassword" name="first-name" placeholder="Enter New Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="re">
            <h2>Re-enter new password : <span style="color: red;font-size: 24px;">*</span></h2>
        </div>
        <div class="re-field">
            <div class="field">
                <input asp-for="ConfirmPassword" name="first-name" placeholder="Re enter Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="btn">
            <button type="submit" class="primary ui button">UPDATE</button>
        </div>
    </form>
</div>

@section Scripts{
    <style>
        .sticky-navbar {
            display: grid;
            position: relative;
        }
    </style>
}