
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageTitle</title>


</head>
<body>
    <h1 class="text-center text-info mt-5 alert alert-success"> @ViewBag.Title</h1>
    <h4 class="text-center"> @ViewBag.Message</h4>
    <br />

</body>
</html>
