
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Confirmed</title>

</head>
<body>

    <div class="mt-5 mb-5 p-5 bg-dark border text-center">
        <h1 class="text-center text-success"> Account Email  Confirmed</h1>
        <p class="text-white mt-3 ">Congratulations! Your account email address has been successfully confirmed.</p>
        <a class="btn btn-primary rounded mt-3" asp-controller="Home" asp-action="Index">Return To Home</a>
    </div>

</body>
</html>


