@model SoftwareHouseWeb.ViewModel.Account.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "ForgotPassword";
}
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-reset">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" id="resetEmail" placeholder="Email address" required="" autofocus="" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    <a asp-controller="Account" asp-action="Login"><i class="fas fa-angle-left"></i> Back</a>

</form>

@section Scripts{
    <style>
        .sticky-navbar {
            display: grid;
            position: relative;
        }
    </style>
}