@model SoftwareHouseWeb.ViewModel.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}
<hr />
<div class="row d-flex justify-content-center align-content-center border bg-light p-5">
    <div class="col-md-6 border m-2">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Token" type="hidden" />
            <h2 class="text-center text-info">Reset Password</h2>

            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary col-6 d-block m-auto">Reset</button>
        </form>
    </div>
</div>

@section Scripts{
    <style>
        .sticky-navbar {
            display: grid;
            position: relative;
        }
    </style>
}