

@{
    ViewData["Title"] = "Password Reset";
}



<div class="mt-5 mb-5 p-5 bg-dark border text-center">
    <h1 class="text-center text-success"> Password Reset Confirmed</h1>
    <p class="text-white mt-3 ">Congratulations! Your account password  is reset successfully .</p>
    <a class="btn btn-primary rounded mt-3" asp-controller="Account" asp-action="Login">Back To Login</a>
</div>