
@{
    ViewData["Title"] = "SiteMap";
}


<div class="head">
    <div class="banner">
        <h2> SITEMAP </h2>
    </div>

    <p class="firsttext">Logo Design Pros</p>
    <div class="row">
        <div class="column">
            <ul class="list-check-content">
                <li><a asp-controller="Home" asp-action="Index"> <i class="fa fa-check"></i> &nbsp; Home</a></li>
                <li><a  asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Logo Design</a></li>
                <li><a  asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Web Design</a></li>
                <li><a  asp-controller="Home" asp-action="WebDev"> <i class="fa fa-check"></i> &nbsp;Web Development</a></li>
                <li><span>Services On Demand</span></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Apps &amp; Games Development</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Animated Videos</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Mobile Website Design</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Print &amp; Packaging</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Online Marketing</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Copywriting Services</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Search Engine Optimization</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Logo Design Packages</a></li>
                <li><a  asp-controller="Order" asp-action="Create"></i> &nbsp; Order Here</a></li>
                <li><a  asp-controller="Home" asp-action="Privacy"> <i class="fa fa-check"></i> &nbsp; Privacy &amp; Security</a></li>
                <li><a  asp-controller="Home" asp-action="Contact"> <i class="fa fa-check"></i> &nbsp; Contact Us</a></li>
                <li><a  asp-controller="Home" asp-action="SiteMap"> <i class="fa fa-check"></i> &nbsp; Sitemap</a></li>
                <li><a  asp-controller="Home" asp-action="Terms"> <i class="fa fa-check"></i> &nbsp; Condition &amp; Policy</a></li>
            </ul>




        </div>

        <div class="column">

            <ul class="list-check-content">
                <li><span>Logo Design</span></li>
                <li><a  asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Custom Logo Design</a></li>
                <li><a asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Logo Designer</a></li>
                <li><a asp-controller="Home" asp-action="WebDev"> <i class="fa fa-check"></i> &nbsp;Web Development</a></li>
                <li><a  asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Logo Creation/Logo Redesign</a></li>
                <li><a  asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Cheap & Affordable Logo Design</a></li>
                <li><a  asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Mobile Website Design</a></li>
                <li><a  asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Business Logo Design</a></li>
                <li><a asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Corporate Logo Design</a></li>
                <li><a asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Company Logo Design</a></li>
                <li><a asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Professional Logo Design</a></li>
                <li><a  asp-controller="Home" asp-action="Logo"> <i class="fa fa-check"></i> &nbsp; Animated Logo Design</a></li>
                <li><span>Print & Packaging</span></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Print Ads</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Label Design</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp;Catalogue Design</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Car Wrap Design</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Stationery Design</li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; more</a></li>
            </ul>

        </div>

        <div class="column">


            <ul class="list-check-content">
                <li><span>Web Design</span></li>
                <li><a  asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Complete Website Design</a></li>
                <li><a asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Professional Website Design</a></li>
                <li><a asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp;Social Media Design</a></li>
                <li><a asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Landing Page Design</a></li>
                <li><a asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Facebook Page Design</a></li>
                <li><a asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Custom Website Design</a></li>
                <li><a asp-controller="Home" asp-action="WebDesign"> <i class="fa fa-check"></i> &nbsp; Business Website Design</a></li>
                <li><span>Online Marketing</span></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Search Engine Submission</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; SEO Services</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Google Map Presence</a></li>
                <li><span>Content Writing</span></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Copywriting Services</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; Web Copywriting Service</a></li>
                <li><a href="#"> <i class="fa fa-check"></i> &nbsp; SEO Content Writing</a></li>

</ul>
</div>
     </div>
</div>

@section Scripts{ 
<link href="~/css/footerPages/style(sitemap).css" rel="stylesheet" />
}