
@{
    ViewData["Title"] = "Terms";
}


<div class="head">
    <div class="banner">
        <h2> CONDITIONS AND POLICIES </h2>
    </div>

    <p class="firsttext">Please carefully review our conditions and policies by clicking on each of them:</p>

    <ul class="list">
        <li class="first"><a href="#a" title=""><i class="fa fa-check"></i>  <strong>Revision Policy</strong></a></li>
        <li><a href="#b" title=""><i class="fa fa-check"></i>  <strong>Refund Policy</strong></a></li>
        <li><a href="#c" title=""><i class="fa fa-check"></i>  <strong>Account Area</strong></a></li>
        <li><a href="#d" title=""><i class="fa fa-check"></i>  <strong>Quality Assurance Policy</strong></a></li>
        <li><a href="#e" title=""><i class="fa fa-check"></i>  <strong>100% Satisfaction Guarantee</strong></a></li>
        <li><a href="#f" title=""><i class="fa fa-check"></i>  <strong>Domain and Hosting</strong></a></li>
        <li><a href="#g" title=""><i class="fa fa-check"></i>  <strong>Delivery Policy</strong></a></li>
        <li><a href="#h" title=""><i class="fa fa-check"></i>  <strong>Record Maintenance</strong></a></li>
        <li><a href="#i" title=""><i class="fa fa-check"></i>  <strong>Customer Support</strong></a></li>
        <li><a href="#j" title=""><i class="fa fa-check"></i>  <strong>Financing Policy</strong></a></li>
        <li><a href="#k" title=""><i class="fa fa-check"></i>  <strong>Communication Policy</strong></a></li>
    </ul>
</div>

<div class="info">
    <span id="a"> Revision Policy</span>
    <p>We provide guaranteed unlimited revision. Customers can ask us for unlimited free revisions and we will revise their design without any additional charges provided that the design and concept remains the same. Revision Turnaround Time would be 48 hours</p><br /><br />

    <span id="b"> Refund Policy</span>
    <p>
        We ensure 100% customer satisfaction for all our services. However, the refund policy is available to accommodate the customers' concerns. All refund requests will be fulfilled as per the following arrangement:<br />

        If request for refund is made after 48 hours of initial design samples delivery then you would not be eligible for any refund.
        No refund request will be entertained if you have posted revision on any of the initial design samples provided.
        All refund requests should be communicated to the support department. Logo Design Pros.com, based on the violation of your user agreement reserves the right to approve/disapprove your request on an individual case to case basis.
    </p><br /><br />

    <span id="c"> How to claim your refund</span>
    <p>
        To assure your refund request is approved, please make sure you meet the following requirements:<br />

        1. Claim your refund specifying your concern by contacting us via any of the following three modes:<br />

        i. Tollfree # <br />

        ii. Live Chat. Click here to start chat now<br />

        iii. Email. Click here to send us an email for a prompt response<br />

        2. We will try to resolve your concern by virtue of our revision policy immediately or else will email you a refund request approval from our refund department.<br />

        After the refund, your design rights would be obtained by Logo Design Pros.com and you would not be able to display any version of the design sent by company. Let us also specify that:<br />

        1. Since the design rights would now be transferred to the company, you agree that you will have no right (direct or indirect) to use any response or other content, work product or media, nor will you have any ownership interest in or to the same.<br />

        2. Working in collaboration with the Government Copyright Agencies Logo Design Pros.com would share Copyright Acquisition information for the refunded designs that would restrict the re-use of the designs as original designs in the future.<br />

        If you have any questions or concerns about our Refund Policy, please contact us by clicking here.
    </p><br /><br />

    <span id="d"> Account Area</span>
    <p>The Account Area is a convenient way to communicate. It is your sole responsibility to check the account area to address any queries, concerns, or additional instructions required by the designer. Not checking or using the Account Area frequently shall not provide you adequate grounds for a refund. However, if you are uncertain how to use the area, you may contact the customer support team at any time for assistance.</p><br /><br />

    <span id="e"> Quality Assurance Policy</span>
    <p>
        In order to provide you the desired satisfaction, our designers don't deviate from the specifications provided by you in the order form.
        he designs are created after a thorough research which ensures the design quality and uniqueness.
    </p><br /><br />

    <span id="f">100% Satisfaction Guarantee </span>
    <p>
        The free multiple revision offer as per specifications ensures that you get 100% satisfaction. <br />
        We rework the ordered design and keep on revising it until you are 100% satisfied.<br />
        We offer free complete coordination with your printing company, if required.
    </p><br /><br />

    <span id="g">  Domain and Hosting</span>
    <p>
        All design order files are delivered to Account Area as per the date specified on the "Order Confirmation". An e-mail is also sent to inform the client about their design order delivery made to their specific account area. All policies pertaining to revision & refund are subject to date and time of design order delivered to client's account area.<br />
        All design order files are delivered to Account Area as per the date specified on the "Order Confirmation". An e-mail is also sent to inform the client about their design order delivery made to their specific account area. All policies pertaining to revision & refund are subject to date and time of design order delivered to client's account area.<br />
        We deliver all our customized design orders via e-mail within 2 to 3 days of receiving your order.
    </p><br /><br />



    <span id="h">  Record Maintenance</span>
    <p>
        We keep a record of your finalized design once we provide you the final files.<br />
        If you require the final files again in the future we can send them to you at your request.
    </p><br /><br />



    <span id="i">  Customer Support</span>
    <p>
        We keep a record of your finalized design once we provide you the final files.<br />
        If you require the final files again in the future we can send them to you at your request.<br /><br />
    </p>



    <span id="j"> Financing Policy</span>
    <p>
        We keep a record of your finalized design once we provide you the final files.<br />
        If you require the final files again in the future we can send them to you at your request.<br /><br />
    </p>


    <span id="k"> Communication Policy </span>
    <p>
        We keep a record of your finalized design once we provide you the final files.<br />
        If you require the final files again in the future we can send them to you at your request.<br /><br />
    </p>

    <p class="box">
        <strong>Note:</strong> Use of the stolen credit cards is strictly prohibited and is considered to be a serious crime. We work in close collaboration to fight cyber crime and make sure that all fraudulent orders are reported to the Federal and State Agencies.
    </p>
</div>
@section Scripts{ 
<link href="~/css/footerPages/style.css" rel="stylesheet" />
}