
@{
    ViewData["Title"] = "WhyUs";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="why-choose-us">
    <h1 class="heading">Why choose us?</h1>
    <div class="satisfaction">
        <img src="~/Image/Dev/satis.svg" asp-append-version="true" alt="" />
        <div>
            <h1>100% Customer Satisfaction</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam
                porro dolores nobis nostrum non in quaerat, quisquam alias hic
                temporibus a fuga assumenda unde ex nam fugit sequi sapiente velit.
            </p>
        </div>
    </div>
    <div class="craft">
        <img  src="~/Image/Dev/effort.svg" asp-append-version="true"alt="" />
        <div class="">
            <h1>We Craft Your Brand Identity</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                nobis ut, pariatur excepturi vero magni voluptatum et veniam debitis
                aspernatur adipisci similique! Ea laboriosam at sint, beatae quis
                quisquam in!
            </p>
        </div>
    </div>
    <div class="experience">
        <img  src="~/Image/Dev/user-experience.svg" asp-append-version="true" alt="" />
        <div class="">
            <h1>12 Years Experience in Serving More than 40 Industries!</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                nobis ut, pariatur excepturi vero magni voluptatum et veniam debitis
                aspernatur adipisci similique! Ea laboriosam at sint, beatae quis
                quisquam in!
            </p>
        </div>
    </div>
    <div class="support">
        <img  src="~/Image/Dev/support.svg" asp-append-version="true" alt="" />
        <div class="">
            <h1>24x7 Customer Support Unit</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                nobis ut, pariatur excepturi vero magni voluptatum et veniam debitis
                aspernatur adipisci similique! Ea laboriosam at sint, beatae quis
                quisquam in!
            </p>
        </div>
    </div>
</div>
